/* -- content --*/

body {
  background:url('http://wallpaperscraft.com/image/london_ride_river_house_dock_9656_3840x2400.jpg?orig=3');
  margin:0px;
  font-family: 'Ubuntu', sans-serif;
}
h1, h2, h3, h4, h5, h6, a {
  margin:0; padding:0;
}
.content {
  margin:0 auto;
  max-width:800px;
}
.content a{
  text-decoration: none;
}
.content h4{
  color:#fff;
  text-shadow: 0px 5px 15px #000;
}
.content p{
  padding-left: 20px;
  padding-right: 20px;
}
.content-form {
  margin:0 auto;
  max-width:500px;
}
.content-header {
  color:#fff;
  text-align:center;
  font-size:300%;
}
.content-header h1 {
   text-shadow: 0px 5px 15px #000;
}
.content-box {
  border:2px solid #999;
  background:white;
  border-radius:10px;
  box-shadow:0px 0px 10px #000;
  box-sizing:border-box;
  padding-top:15px;
  margin-bottom:10px;
  text-align:center;
  overflow: hidden;
}
.body {
  margin-top:50px;
  background:#2c3e50;
}
.comments {
  padding: 20px;
  margin-top:10px;
  background:#FFEC9E;
}
.comments-area
{
  padding-top: 30px;
}
.comment {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top:1px solid #999;
}
.content-box p {
  color:#fff;
}
.content-box h3 {
  text-align:left;
  margin-left:40px;
  color:#fff;
}
.content-box {
}
.content-box input[type="text"],
.content-box textarea,
.content-box input[type="password"] {
  width: 100%;
  max-width:400px;
  height:30px;
  font-family: 'Ubuntu', sans-serif;
  margin:10px 0;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
}
.content-box input[type="button"] {
  height:30px;
  width:100px;
  background:#fff;
  border:1px solid #f2f2f2;
  border-radius:20px;
  color: slategrey;
  text-transform:uppercase;
  font-family: 'Ubuntu', sans-serif;
  cursor:pointer;
}
.content-box textarea {
  height: 90px !important;
}
.sign-up{
  color:#f2f2f2;
  margin-left:-400px;
  cursor:pointer;
  text-decoration:underline;
}
.no-access {
  color:#E86850;
  margin:20px 0px 20px -300px;
  text-decoration:underline;
  cursor:pointer;
}
.content-header h1 {
   text-shadow: 0px 5px 15px #000;
}

@media only screen and (min-width : 150px) and (max-width : 530px){
  .content-body h3 {
    text-align:center;
    margin:0;
  }
  .sign-up, .no-access {
    margin:10px 0;
  }
  .content-button {
    margin-bottom:10px;
  }
}

/* -- content --*/

/* --nav-- */

body {margin:0;}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

@media screen and (min-width : 150px) and (max-width : 530px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (min-width : 150px) and (max-width : 530px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

/* --nav-- */

/* --cards-- */

ul.rig {
  padding-top: 20px;
  list-style: none;
  font-size: 0px;
  margin-left: -5.0%;
}
ul.rig li {
  display: inline-block;
  padding: 10px;
  margin: 0 0 2.5% 2.5%;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  box-shadow: 0 0 5px #ddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
ul.rig li h3 {
  color: black;
  margin: 0 0 5px;
}
ul.rig li p {
  font-size: .9em;
  line-height: 1.5em;
  color: #999;
}
ul.rig.columns-4 li {
  width: 22.5%;
}
 
@media (max-width: 480px) {
  ul.grid-nav li {
    display: block;
    margin: 0 0 5px;
  }
  ul.grid-nav li a {
    display: block;
  }
  ul.rig {
    margin-left: 0;
  }
  ul.rig li {
    width: 100% !important; 
    margin: 0 0 20px;
  }
}