<navbar></navbar>
<div class="content">
	<div class="content-header">
		<h1>{{title}}<h2>
	</div>
  	<div class="content-box body">
  		<p>{{detail}}</p>
  	</div>
  	<a href="#!/comics"><h4><< Atrás</h4></a>
  	<div class="content-box comments">
      <textarea ng-model="text"></textarea>
      <br>
      <input type="button" value="commntar" class="content-button" ng-click="comment()"/>
      <div class="comments-area">
        <div class="comment" ng-repeat="comm in comments">{{comm}}</div>
      </div>
  	</div>
</div>
