<ul class="topnav" id="myTopnav">
  <li><a href="#!/comics">Cómics</a></li>
  <li><a href="#!/registry">Registro</a></li>
  <li><a href="#!/logout">Salir</a></li>
  <li class="icon">
    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
  </li>
</ul>
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>