<navbar></navbar>
<div class="content-form">
  <div class="content-header">
    <h2>Register</h2>
  </div>
  <div class="content-box body">
    <h3>Name:</h3>
    <input type="text" placeholder="name" ng-model="name"/>
    <h3>Last Name:</h3>
    <input type="password" placeholder="lastname" ng-model="lastname"/>
    <h3>Username:</h3>
    <input type="text" placeholder="username" ng-model="username"/>
    <h3>Password:</h3>
    <input type="password" placeholder="password" ng-model="password"/>
    <br>
    <input type="button" value="Registry" class="content-button" ng-click="register()"/>
    <br>
    <h6 class="no-access">{{message}}</h6>
  </div>
</div>